Options -Indexes

RewriteEngine On




#View Directory
# Route /attendance_system/signup → /attendance_system/view/signup.php
RewriteRule ^signup$ view/signup.php [L]
# Route /attendance_system/login → /attendance_system/view/login.php
RewriteRule ^signin$ view/signin.php [L]
# Route /attendance_system/logout → /attendance_system/view/logout.php
RewriteRule ^logout$ view/logout.php [L]
RewriteRule ^details$ view/details.php [L]
RewriteRule ^contact$ view/contact.php [L]




#View/Students Directory
RewriteRule ^dashboard$ view/students/dashboard.php [L]
# RewriteRule ^dashboard$ /attendance_system/ [R=302,L]

#View/Admin Directory
RewriteRule ^privatenexus$ view/admin/privatenexus.php [L]
# RewriteRule ^dashboard$ /attendance_system/ [R=302,L]

#View/SuperAdmin Directory
RewriteRule ^overseer$ view/superadmin/overseer.php [L]
# RewriteRule ^dashboard$ /attendance_system/ [R=302,L]


#Auth Directory
# RewriteRule  ^db$ auth/db.php [L]
#Prevent to access all the files inside Auth folder
RewriteRule ^auth/ - [F,L]
RewriteRule ^vendor/ - [F,L]



#Model Directory
RewriteRule ^User.Model$ model/User.Model.php [L]


#Controller Directory
RewriteRule ^User.Controller$ controller/User.Controller.php [L]



# Remove .php extension from URL (supports subfolders)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

# Custom 404 page
ErrorDocument 403 /attendance_system/403.php
ErrorDocument 404 /attendance_system/404.php
